.main-header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header {
  display: flex;
  gap: 15px;
  padding: 0 7px 0 7px;
}

.btn-login {
  position: absolute;
  right: 15px;
}
